@import "tailwindcss";

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calendar-grid {
    height: 370px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px; 
}

.day-label {
    @apply font-bold text-center;
}

.date-cell, .blank {
    @apply h-10 flex items-center justify-center bg-surfacetwo rounded-full cursor-pointer;
}

.date-cell {
    @apply border border-2 border-accentprimary;
}


@utility no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;   

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

:root {
    --accent-strong: #2563EB;
    --accent-soft: #60A5FA;
}

.accent-purple {
    --accent-strong: #491AB1;
    --accent-soft: #6631DB;
}

.accent-pink {
    --accent-strong: #AE0849;
    --accent-soft: #E21C70;
}

.accent-green {
    --accent-strong: #2D531A;
    --accent-soft: #477023;
}


@theme {
    /*Fonts*/
    --font-bodytext: "Atkinson Hyperlegible Mono", sans-serif;
    --font-headtext: "Castoro", serif;

    
    /* Theme Four */
    
    
    /*Button order*/
    --color-fromcolorb: #60A5FA;
    --color-tocolorb: #2563EB;
    --color-fromcolorpur: #491AB1;
    --color-tocolorpur: #6631DB;
    --color-fromcolorr: #9C0412;
    --color-tocolorr: #650207;
    --color-fromcolorp: #AE0849; 
    --color-tocolorp: #E21C70;
    --color-fromcolorg: #2D531A; 
    --color-tocolorg: #477023;

    /*DEFAULT: Dark mode*/
    --color-bgcolor: #0D0D0D;
    --color-textcolor: #E5E7EB; 
    --color-surfaceone: #171717;
    --color-surfacetwo: #262626;
    --color-muted: #111111;

    /*Accents DEFAULT THEME: Blue*/
    --color-accentprimary: var(--accent-soft);
    --color-accentsecondary: var(--accent-strong);

    /*Trivial colors*/
    --color-grey: #A9AAA9;
    --color-yellow: #e5de00;
}

.light {
    --color-bgcolor: #E0E0DE;
    --color-textcolor: #111827; 
    --color-surfaceone: #F3F4F6;
    --color-surfacetwo: #F9FAFB;
    --color-muted: #B2B0AC;
    --color-accentprimary: var(--accent-strong);
    --color-accentsecondary: var(--accent-soft);
}


@layer components {


    .verify {
        @apply fixed top-0 z-50 w-full h-full bg-black flex justify-center items-center;
    }

    .welcome-page {
        @apply bg-black fixed top-0 z-40 w-full h-full backdrop-blur-sm flex flex-col items-center justify-center;

        .welcome-note {
            @apply flex flex-col justify-center items-center gap-2 p-2 mb-2;

            h1 {
                @apply text-4xl font-bold;
            }
        }

        & .sign-inputs-box {
            @apply flex flex-col gap-6;

            input {
                @apply p-5 w-200 bg-muted rounded-lg shadow-lg focus:outline-none;
            }
        }

        & .button {
            @apply w-full p-4 mt-4 rounded-lg bg-tocolorb font-bold cursor-pointer;
        }

        p {
            @apply text-center mt-4
        }
    }
    
    body {
        @apply bg-bgcolor text-textcolor font-bodytext cursor-default;
    }

    .add {
        @apply text-xl text-accentprimary cursor-pointer md:text-2xl;
    }

    .tips {
        @apply text-xl cursor-pointer transition ease-in-out duration-300 md:text-2xl;
    }

    .tips:hover {
        @apply text-accentprimary;
    }

    .emoji-picker {
        @apply rounded-lg bg-surfacetwo shadow-lg p-4 h-45 w-[300px] lg:w-[330px];

        .emoji-h {
            @apply h-[25%] flex justify-between rounded-lg bg-surfaceone p-2;

            .bi {
                @apply text-xl w-[40px] flex justify-center items-center rounded-lg cursor-pointer transition ease-in-out duration-300;
            }
        }

        .emoji-b {
            @apply h-[75%] flex mt-2 flex-wrap shrink-0 rounded-lg bg-surfaceone p-2;
            
            ul {
                @apply flex flex-wrap;
            
                li {
                   @apply text-xl list-none w-[40px] flex justify-center rounded-lg cursor-pointer;
                }
            }
        }
    }



    .named {
        @apply flex flex-col lg:flex-row;

        & .a-body {
            @apply w-full mt-6 md:px-6 lg:px-0 lg:w-[80%] lg:mx-8;
        }
    }

    .side-menu {
        @apply  bg-surfaceone w-full bottom-0 shadow-xl h-[10%] fixed bottom-0 cursor-pointer flex flex-col justify-between lg:w-[20%] lg:sticky lg:h-[100vh] lg:top-0 lg:left-0;

        .road-cont {
            @apply flex flex-col px-4 py-6 gap-6;
        
            .road {
                @apply cursor-pointer rounded-md bg-surfacetwo shadow-lg p-3 border border-2 border-transparent flex gap-2;
            }
        }

        & .progress-bar-cont {
            @apply h-[60px] rounded-lg shadow-lg bg-surfacetwo m-4 border border-2 border-accentprimary flex items-center p-2 gap-2;

            .level-counter {
                @apply bg-accentprimary text-white w-[15%] h-full flex items-center justify-center rounded-full shadow-lg font-bold;
            }

            & .level {
                @apply w-[85%] h-full;

                & .level-loader {
                   @apply h-[80%] mt-1 rounded-full bg-muted shadow-lg flex gap-1;
                
                    span {
                        @apply border border-2 border-transparent h-full w-[33.4%];
                    }

                    & .level-start {
                        @apply rounded-tl-lg rounded-bl-lg;
                    }

                    & .level-end {
                        @apply rounded-tr-lg rounded-br-lg;
                    }
                }

            }

        }
    }

    .no-tasks {
        @apply text-center mt-4;
    }

    .full-date-cont {
        @apply border border-2 border-transparent;

        & .task-handler {
            @apply flex items-center mb-6 mx-2 flex justify-between relative lg:mx-0;

            & .show {
                @apply bg-surfacetwo text-xs p-2 rounded-lg outline-none w-[60px] cursor-pointer md:w-[100px] md:text-base;
            }

            & .nav-date {
                @apply text-sm w-[30%] text-center relative left-[-20px] text-center font-bold font-headtext px-10 cursor-pointer md:left-[-30px] md:text-xl;
            }
        }

        & .date-menu {
            @apply h-[10%] w-full rounded-lg flex justify-center items-center md:bg-surfacetwo md:p-2 md:h-[15%];

            & .date-track {
                @apply w-[100%] flex justify-between p-1 no-scrollbar overflow-x-auto;

                & .test-box-cont {
                    @apply w-[100%] flex justify-between h-[7rem];
                    
                    & .test-box {
                    @apply border border-2 border-transparent w-[65px] flex flex-col justify-center items-center rounded-2xl p-[3px] gap-4 md:border-surfacetwo; 
                
                    & .d-name {
                        @apply h-[25%] text-xs flex justify-center md:text-base;
                    }

                    & .d-other {
                        @apply h-[75%] text-[10px] border-accentprimary bg-muted p-[12px] rounded-full shadow-lg flex items-center justify-center cursor-pointer md:text-base md:border-[3px] md:h-[10px] md:w-[10px] md:p-6;
                    }
                }
                }
            }
        }
    }

    .new-task {
        @apply bg-black/1 absolute flex justify-center items-center top-0 left-[-2px] z-50 w-full h-full backdrop-blur-sm;

        & .exit-new-screen {
            @apply absolute text-xl right-[7px] top-7 md:text-2xl md:right-[30px];
        }

        & .exit-edit-screen {
            @apply absolute text-xl right-[7px] top-7 md:text-2xl md:right-[30px] cursor-pointer;
        }

        & .new-task-container {
            @apply bg-surfacetwo border border-2 border-accentprimary mx-auto w-[80%] p-4 rounded-xl flex flex-col gap-4 shadow-md md:w-[50%] md:right-[320px] absolute  md:p-10;

            .task-desc {
                @apply bg-surfaceone rounded-md p-2 flex flex-col gap-2 justify-center items-center md:grid md:p-4 md:place-items-center;

                & .emoji-cont {
                    @apply bg-surfacetwo w-15 h-[60px] flex items-center justify-center shadow-lg text-6xl rounded-md cursor-pointer md:text-8xl md:w-[30%] md:h-[100px];
                } 

                & .name-input {
                    @apply text-sm outline-none text-center md:text-2xl;
                }
            }

            .color-value {
                @apply bg-surfaceone p-2 flex justify-between gap-6 rounded-lg md:p-4;

                & h2 {
                    @apply text-sm md:font-bold md:text-lg;
                }
                
                & .pick-color {
                    @apply rounded-xl cursor-pointer outline-none; 
                }
            }

            .goal-value {
                @apply bg-surfaceone p-2 flex flex-col gap-4 rounded-lg md:p-4;
                
                & h2 {
                    @apply text-sm md:font-bold md:text-lg; 
                }

                & ul {
                    @apply flex justify-between items-center md:gap-10;

                    & li {
                        @apply border border-2 text-sm border-surfacetwo bg-surfacetwo transition p-[2px] ease-in-out duration-300 shadow-md rounded-md cursor-pointer hover:border-accentprimary md:p-2 md:text-base;
                    }
                }
            }

            .when-to-when {
                @apply bg-surfaceone p-2 flex justify-between items-center rounded-lg md:p-4;

                & input {
                    @apply bg-black p-2 rounded w-[35px] bg-muted text-sm md:text-base md:w-[180px];
                }
            }

            & .reminder-selection {
                @apply bg-surfaceone p-2 flex justify-between items-center rounded-lg md:p-4;
                
                & h2 {
                    @apply text-sm md:font-bold md:text-lg; 
                }

                & .the-time {
                    @apply flex gap-2;
                
                    & select {
                        @apply bg-muted rounded-lg appearance-none no-scrollbar bg-black p-[2px] text-sm text-center outline-none md:p-2 md:text-base;
                    }
                }
            }

            & .reminder {
                @apply bg-surfaceone p-2 flex justify-between rounded-lg md:p-4;
                
                & h2 {
                    @apply text-sm flex md:text-lg md:font-bold; 
                }

                & .switch-cont {
                    @apply bg-black w-[25%] rounded-lg p-1 shadow-inset-dark bg-muted cursor-pointer transition ease-in-out duration-400 md:w-[15%];
                }

                & .switch-ball {
                    @apply h-[90%] w-[30%] rounded-full mt-[1px] mx-[1px] bg-gradient-to-b from-white to-gray-400 shadow md:mx-[2px] md:w-[25%] md:h-[80%] md:mt-[3px];  
                }
            }

            & .addTask {
                @apply mt-2 bg-gradient-to-b from-accentsecondary to-accentprimary p-2 rounded-lg text-sm shadow font-bold text-white text-shadow-md cursor-pointer md:text-base;
            }

            & .delete-task {
                @apply mt-2 bg-gradient-to-b from-fromcolorr to-tocolorr p-2 rounded-lg text-sm font-bold text-shadow-md text-white cursor-pointer md:text-base;
            }
        }
    }

    .task-display {
        @apply p-4 rounded-lg no-scrollbar overflow-y-auto scroll-py-4 mt-6 flex flex-col gap-4 md:snap-y md:snap-mandatory md:scroll-smooth scroll-pt-4 text-sm md:bg-surfacetwo md:mt-8 md:p-4 md:gap-6 md:text-base md:w-full md:h-[475px] md:overflow-y-auto;
    }

    .task-box {
        @apply p-2 h-[40px] bg-muted snap-start rounded-md shadow flex items-center transition-all duration-2000 ease-in-out md:p-4 md:border-none md:h-[70px] md:w-full; 

        .emoji-t-box {
            @apply h-[30px] w-[8%] bg-surfacetwo text-lg flex items-center justify-center rounded-lg md:w-[5%] md:h-full md:text-3xl;
        }

        & .name-t-box {
            @apply text-shadow-md ml-2 p-2 w-[90%] text-sm cursor-pointer rounded-md text-white md:font-bold md:text-base;
        }
        
        & .done-box {
            @apply w-[70px] flex items-center justify-between;
        
            .commit {
                @apply text-xl cursor-pointer;
            }

            & .done {
               @apply w-4 h-4 accent-accentprimary border border-2 cursor-pointer disabled:opacity-40 disabled:cursor-not-allowed md:scale-125;
            }
        }
    }

    .history-box {
        @apply border border-2 border-transparent snap-start cursor-pointer bg-muted rounded-md shadow m-4 h-[60px] flex items-center duration-2000 ease-in-out;

        & .emoji-t-box {
            @apply h-[30px] w-[8%] bg-surfacetwo text-lg flex items-center justify-center ml-2 rounded-lg md:w-[5%] md:h-[80%] md:text-3xl;
        }

        & .name-t-box {
            @apply text-shadow-md ml-2 p-2 w-[90%] text-sm rounded-md text-white md:font-bold md:text-base;
        }

        & .done-box {
            @apply w-[120px] flex items-center justify-between;
        
            .commit {
                @apply text-xl cursor-pointer;
            }
                    
            & .bi-trash {
                @apply cursor-pointer text-xl active:scale-90 text-white border border-2 border-tocolorr p-2 px-4 mr-2 rounded-lg bg-gradient-to-b from-fromcolorr to-tocolorr active:scale-90;
            }
 
        }
    }

    .handler-box {
        @apply bg-muted h-16 mt-4 rounded-lg flex items-center snap-start;

        & .emoji-t-box {
            @apply h-[30px] w-[8%] bg-surfacetwo text-lg flex items-center justify-center ml-2 rounded-lg md:w-[5%] md:h-[70%] md:text-3xl;
        }

        & .name-t-box {
            @apply text-shadow-md ml-2 p-2 w-[90%] text-sm rounded-md  text-neutral-300 md:font-bold md:text-base;
        }
        
        & .handler-icons {
            @apply w-15 mx-4 flex items-center justify-between text-xl;

            .pause-play {
                @apply cursor-pointer active:scale-90;
            }

            .bi-pencil {
                @apply cursor-pointer active:scale-90;
            }
        }
    }

    .alert-container {
        @apply bg-black/1 fixed top-0 z-50 w-full h-full backdrop-blur-sm;
    
        & .alert-box {
            @apply border border-2 border-accentprimary bg-surfacetwo p-4 text-base text-center rounded-md mx-auto mt-75 md:w-[30%] md:h-[20%];
        
            & .choice {
                @apply flex justify-between mt-4;

                & button {
                    @apply w-[70px] rounded shadow-lg p-2 cursor-pointer;
                }

                & .yes-yes {
                    @apply bg-gradient-to-b from-fromcolorr to-tocolorr text-white;
                }

                & .no-no {
                    @apply bg-gradient-to-b from-accentsecondary to-accentprimary text-white;
                }
            }
        }
    }

    .full-stats-cont {
        @apply flex flex-col gap-8 items-center;

        & .stats-header {
            @apply w-full flex justify-between;

            & .task-selected {
                @apply cursor-pointer outline-none text-lg bg-surfacetwo p-2 rounded-lg font-headtext;
            }
        }

        & .selected-scroll-cont {
            @apply bg-surfacetwo rounded-lg p-4 w-full sticky top-2 z-40;

            & .selected-scroll {
                @apply flex gap-5 overflow-hidden w-[1095px] overflow-x-auto ml-5 no-scrollbar snap-x snap-mandatory;
                
                .li-cont {
                    @apply flex shrink-0 justify-center items-center w-[140px] snap-start;
                
                    li {
                        @apply border border-2 border-transparent bg-muted p-4 rounded-xl cursor-pointer shadow-lg text-lg flex gap-[5px];
                    }
                }
                
            }
        }

        & .date-box-main {
            @apply w-[50%] h-[500px] bg-surfacetwo rounded-lg p-6 flex gap-2 justify-center font-bold;

            & .bi-chevron {
                @apply cursor-pointer;
            }

            & .date-box-cont {
                @apply rounded-lg bg-surfaceone w-[90%] p-4;
                
                & p {
                    @apply mb-4 text-base font-bold;
                }

                & .date-box-sub {
                    @apply shadow-lg shadow-inset-dark bg-surfacetwo rounded flex gap-[20px] justify-center p-2;
                }
            }
        }

        & .average-display {
            @apply w-full h-[100vh] flex flex-col items-center justify-center;

            .filler-front {
                @apply w-[50%] h-[50%] relative flex items-center justify-center p-5;

                & .average-loader {
                    @apply border border-20 border-transparent absolute h-full w-[60%] rounded-full
                }

                & .average-body {
                    @apply border border-20 border-surfacetwo relative rounded-full h-full w-[60%] shadow-xl;

                    & .rating {
                        @apply text-4xl font-bold absolute top-[120px] left-[75px]
                    }

                    & .rating-title {
                        @apply text-2xl absolute top-[180px] left-[69px] text-surfacetwo
                    }
                }
            }

            .the-four {
                @apply w-full h-[50%] flex flex-col gap-5;

                .top {
                    @apply h-[50%] flex gap-40 items-center justify-center;

                    & .sec-one-two {
                        @apply border border-2 h-full w-[30%] flex flex-col justify-center items-center gap-4 text-xl font-bold bg-surfaceone rounded-full shadow-xl text-accentprimary transition ease-in duration-300;
                    
                        i {
                            @apply text-4xl transition ease-in duration-300;
                        }

                        .calculator {
                            @apply text-shadow-md text-textcolor;
                        }

                        .calculator-label {
                            @apply text-base text-grey
                        }
                    }
                }

                .bottom {
                    @apply h-[50%] flex gap-40 items-center justify-center;

                    & .sec-one-two {
                        @apply border border-2 h-full w-[30%] flex flex-col justify-center items-center gap-4 text-xl font-bold bg-surfaceone rounded-full shadow-xl text-accentprimary transition ease-in duration-300;
                    
                        i {
                            @apply text-4xl transition ease-in duration-300;
                        }

                        .calculator {
                            @apply text-shadow-md text-textcolor;
                        }

                        .calculator-label {
                            @apply text-base text-grey
                        }
                    }
                }            
            }
        } 
    }

    .history-cont {
        @apply flex flex-col gap-8 h-[100%];

        & .date-header {
            @apply flex mt-4 items-center justify-between;

            .setter {
                @apply flex gap-2;

                & .selecting {
                    @apply bg-surfacetwo p-2 rounded-lg w-[70px] focus:outline-none;
                }

                & button {
                    @apply p-2 border border-2 border-transparent w-15 rounded-lg font-bold hover:border-accentprimary bg-surfaceone active:scale-90 ease-in-out duration-300;
                }
            }

            .chosen {
                @apply text-lg font-bold cursor-pointer font-headtext;
            }

        }

        & .tasks-per-day {
            @apply h-[280px] rounded-lg shadow-lg flex justify-center bg-surfacetwo;

            .tasks-pd-cont {
                @apply w-full overflow-y-auto no-scrollbar snap-y snap-mandatory scroll-py-4 flex flex-col;
            }

        }

        & .chosen-task-info {
            @apply h-[40%] rounded-lg shadow-lg bg-surfaceone flex flex-col;
        
            .no-chosen {
                @apply text-center m-4
            }

            .top {
                @apply flex items-center justify-around m-4;

                .sec {
                    @apply border border-2 text-lg bg-surfacetwo shadow p-2 w-[40%] h-[110px] rounded-full flex flex-col items-center justify-center ease-in-out duration-300;
                    
                    & .bi-bi {
                        @apply text-2xl;
                    }

                    & .calculator-label {
                        @apply text-base text-grey;
                    }

                }
            }
        }
    }

    .settings-main-cont {
        @apply h-full flex flex-col gap-2; 

        & .settings-info-box {
            @apply flex justify-between;

            .settings-info {

                & .settings-header {
                    @apply text-2xl font-bold font-headtext;
            
                    & .checking {
                        @apply text-grey text-base;
                    }
                }

                & .settings-subheader {
                    @apply text-sm text-grey;
                }
            
            }


            .light-dark {
                @apply w-[200px] my-2 rounded-lg bg-surfacetwo shadow flex items-center cursor-pointer transition ease-in-out duration-400;

                .light-dark-ball {
                    @apply w-[20%] h-[80%] rounded-xl mx-1 bg-gradient-to-b from-white to-grey flex items-center justify-center; 
                
                    .bi {
                        @apply text-xl transition ease-in-out duration-400; 
                    }
                }
            }

        }

        & .settings-body {
            @apply h-full mt-4 border-t-2 border-surfacetwo;

            .settings-router {
                @apply h-15 bg-surfacetwo rounded-lg mt-4 flex items-center justify-around;

                .sett-link {
                    @apply border border-2 border-transparent p-2 rounded-lg cursor-pointer;
                }
            
            }
        }
    
        & .sett-body {
            @apply mt-2 rounded-lg bg-surfacetwo shadow p-4;
        
            /*Profile*/
            .the-user {
                @apply h-[300px] flex flex-col items-center;
            
                .pfp-upload {
                    @apply w-[20%] overflow-hidden h-full cursor-pointer rounded-full bg-surfaceone shadow flex justify-center items-center;
                
                    .pfp-plus {
                        @apply text-6xl;
                    }

                    .pfp-image {
                        @apply w-full h-full object-cover;
                    }
                }

                .the-user-info {
                    @apply flex justify-center gap-4 p-2 w-full;   
                
                    .the-user-name-title {
                        @apply flex items-center justify-center text-center rounded-lg bg-surfaceone p-4 shadow focus:outline-none;
                    }
                    
                }
                

            }

            .user-preferences {
                @apply border-t-2 border-grey mt-4 pt-2 flex flex-col gap-4 justify-around;

                .preference {
                    @apply h-16 p-2 rounded-lg shadow bg-surfaceone flex items-center justify-between;
                
                    p {
                        @apply font-bold;
                    }

                    & .themes {
                        @apply w-[200px] h-[80%] flex justify-around gap-4;

                        .theme-box {
                            @apply w-[50px] rounded-full;
                        }

                        .one {
                            @apply bg-surfaceone border border-2 border-transparent z-10 cursor-pointer;

                            & .in-one {
                                @apply h-full rounded-full scale-85 bg-gradient-to-b from-fromcolorb to-tocolorb shadow; 
                            }
                        }

                        .two {
                            @apply bg-surfaceone border border-2 border-transparent z-10 cursor-pointer;

                            & .in-two {
                                @apply h-full rounded-full scale-85 bg-gradient-to-b from-fromcolorpur to-tocolorpur shadow; 
                            }
                        }

                        .three {
                            @apply bg-surfaceone border border-2 border-transparent z-10 cursor-pointer;

                            & .in-three {
                                @apply h-full rounded-full scale-85 bg-gradient-to-b from-fromcolorp to-tocolorp shadow; 
                            }
                        }

                        .four {
                            @apply bg-surfaceone border border-2 border-transparent z-10 cursor-pointer;

                            & .in-four {
                                @apply h-full rounded-full scale-85 bg-gradient-to-b from-fromcolorg to-tocolorg shadow; 
                            }
                        }
                    }

                    .toggle {
                        @apply w-[200px] h-[80%] rounded-xl bg-muted shadow-inset-dark bg-black flex items-center transition ease-in-out duration-400 cursor-pointer;

                        .ball {
                            @apply h-[80%] w-[10%] ml-1 rounded-xl bg-gradient-to-b from-white to-gray-400 shadow;  
                        }
                    }
                }

                button {
                    @apply m-auto w-50 p-4 shadow-lg font-bold text-lg rounded-lg active:scale-90 cursor-pointer;
                }

                .logout {
                    @apply bg-gradient-to-b from-accentsecondary to-accentprimary text-white
                }

                .delacc {
                    @apply bg-gradient-to-b from-fromcolorr to-tocolorr text-white
                }
            }

            /*task handler*/
            .task-h-header {
                @apply flex justify-between p-2 items-center;

                select {
                    @apply bg-surfaceone p-2 rounded-lg cursor-pointer focus:outline-none;
                }

                button {
                    @apply p-2 rounded-lg bg-gradient-to-b from-fromcolorr to-tocolorr cursor-pointer text-white shadow-lg active:scale-90;
                }
            }

            .task-h-body {
                @apply h-[450px] bg-surfaceone rounded-lg mt-2 shadow-lg;

                .task-h-box {
                    @apply w-full h-full px-4 py-2 overflow-y-auto no-scrollbar snap-y snap-mandatory scroll-py-4;
                }
            }

            /*Data and Pivacy*/

            .data-background {
                @apply h-[500px] bg-surfaceone rounded-lg p-2 overflow-y-auto no-scrollbar;

                .dropdown {
                    @apply flex flex-col;

                    .toggle-dropdown {
                        @apply p-2 m-2 rounded-lg items-center h-15 flex gap-4 cursor-pointer bg-surfacetwo shadow-lg
                    }

                    p {
                        @apply m-2 p-2 rounded-lg bg-surfacetwo shadow-lg;
                    }
                }

                .controls {
                    @apply  h-[330px] m-2 p-2 rounded-lg flex flex-col gap-4;

                    h2 {
                        @apply border-y border-y-2 border-y-grey py-2; 
                    }

                    .controller {
                        @apply h-[70px] bg-surfacetwo rounded-lg shadow flex justify-between items-center p-2;

                        span {
                            @apply text-grey text-sm
                        }

                        button {
                            @apply w-30 h-12 rounded-lg bg-gradient-to-b from-fromcolorr to-tocolorr shadow-lg text-white active:scale-90 cursor-pointer
                        }
                    }

                    .download-data {
                        @apply h-15 rounded-lg mx-60 mt-2 bg-gradient-to-b from-accentsecondary to-accentprimary text-white shadow-lg font-bold cursor-pointer active:scale-95 flex gap-2 justify-center items-center;
                    }
                }
            }

            /*About*/

            .about-background {
                @apply h-[500px] bg-surfaceone rounded-lg p-2 overflow-y-auto no-scrollbar;

                .dropdown {
                    @apply flex flex-col;

                    .toggle-dropdown {
                        @apply p-2 m-2 rounded-lg items-center h-15 flex gap-4 cursor-pointer bg-surfacetwo shadow-lg
                    }

                    p {
                        @apply m-2 p-2 rounded-lg bg-surfacetwo shadow-lg;
                    }

                    .contact-us {
                        @apply ml-8; 

                        .contacting-box {
                            @apply m-2 rounded-lg h-50 w-[50%] bg-surfacetwo shadow-lg flex flex-col;

                            textarea {
                                @apply h-[70%] p-2 focus:outline-none m-2 rounded-lg bg-surfaceone;
                            }

                            button {
                                @apply p-2 rounded-lg font-bold ml-auto mb-2 mr-2 bg-gradient-to-b from-accentsecondary to-accentprimary text-white shadow-lg active:scale-90;
                            }
                            
                        }
                    }
                }

                .controls {
                    @apply h-[250px] m-2 p-2 rounded-lg flex flex-col gap-4;

                    h2 {
                        @apply border-y border-y-2 border-y-grey py-2; 
                    }

                    .controller-about {
                        @apply h-[70px] bg-surfacetwo rounded-lg shadow flex justify-between items-center p-2;

                        span {
                            @apply text-grey text-sm
                        }

                        .btn-icon {
                            @apply w-30 h-12 rounded-lg bg-gradient-to-b from-accentsecondary to-accentprimary text-white shadow-lg active:scale-90 cursor-pointer flex justify-center items-center text-xl;
                        
                            .bi {
                                @apply text-2xl;
                            }
                        }
                    }

                }

                .version-info {
                    @apply h-[60px] flex items-center justify-center text-grey
                }

            }
        }
    }
}

@utility shadow-inset-dark {
  box-shadow: inset 0 4px 15px surfacetwo;
}

@utility text-shadow-md {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}


/* display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem; adjust if needed */