@import "tailwindcss";

body {
    background-color: #0D0D0D;
    color: #E5E7EB;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calendar-grid {
    height: 370px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem; /* adjust if needed */
}

.day-label {
  @apply font-bold text-center;
}

.date-cell, .blank {
  @apply h-10 flex items-center justify-center bg-commongrey rounded-full cursor-pointer;
}

.date-cell {
    @apply border border-2 border-grey;  
}

@theme {
    --color-selected: #DA38CD;
    --color-bluet: #2563EB;
    --color-bluelight: #60A5FA;
    --color-dullblack: #171717;
    --color-commongrey: #262626;
    --color-backblack: #0D0D0D; 
    --color-delDark: #650207;
    --color-delLight: #C93631;
    --color-yellow: #FFFF00; 
    --color-grey: #5B6066;
    --color-green: #237414;
    --color-red: #9C0412;
}

@utility no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;   

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

@layer components {

    
    .add {
        @apply text-xl text-bluet cursor-pointer md:text-2xl;
    }

    .tips {
        @apply text-xl cursor-pointer transition ease-in-out duration-300 md:text-2xl;
    }

    .tips:hover {
        @apply text-bluet;
    }

    .named {
        @apply flex flex-col lg:flex-row;

        & .a-body {
            @apply w-full mt-6 md:px-6 lg:px-0 lg:w-[80%] lg:mx-8;
        }
    }

    .side-menu {
        @apply  bg-[#1A1A1A] w-[100vw] bottom-0 shadow-xl fixed bottom-0 flex flex-col px-4 py-6 gap-6 cursor-pointer lg:w-[20%] lg:sticky lg:h-[100vh] lg:top-0 lg:left-0;

        & .road {
            @apply cursor-pointer rounded-md bg-commongrey shadow-lg p-3 border border-2 border-transparent flex gap-2;
        }
    }

    .full-date-cont {
        @apply border border-2 border-transparent;

        & .task-handler {
            @apply flex items-center mb-6 mx-2 flex justify-between relative lg:mx-0;

            & .show {
                @apply bg-commongrey text-xs p-2 rounded-lg outline-none w-[60px] cursor-pointer md:w-[100px] md:text-base;
            }

            & .nav-date {
                @apply text-sm font-semibold w-[30%] text-center relative left-[-20px] text-center px-10 cursor-pointer md:left-[-30px] md:text-xl;
            }
        }

        & .date-menu {
            @apply h-[10%] w-full rounded-lg flex justify-center items-center md:bg-commongrey md:p-2 md:h-[15%];

            & .date-track {
                @apply w-[100%] flex justify-between p-1 no-scrollbar overflow-x-auto;

                & .test-box-cont {
                @apply w-[100%] flex justify-between h-[7rem];
                    & .test-box {
                    @apply border border-2 w-[65px] border-backblack flex flex-col justify-center items-center rounded-2xl p-[3px] gap-4 md:border-commongrey; 
                
                    & .d-name {
                        @apply h-[25%] text-xs flex justify-center md:text-base;
                    }

                    & .d-other {
                        @apply h-[75%] text-[10px] border-bluelight p-[12px] rounded-full bg-[#333333] shadow-lg flex items-center justify-center cursor-pointer md:text-base md:border-[3px] md:h-[10px] md:w-[10px] md:p-6;
                    }
                }
                }
            }
        }
    }

    .new-task {
        @apply bg-black/1 absolute flex justify-center items-center top-0 left-[-2px] z-50 w-full h-full backdrop-blur-sm;

        & .exit-new-screen {
            @apply absolute text-xl right-[7px] top-7 md:text-2xl md:right-[15px];
        }

        & .exit-edit-screen {
            @apply absolute text-xl right-[7px] top-7 md:text-2xl md:right-[15px] cursor-pointer;
        }

        & .new-task-container {
            @apply bg-commongrey mx-auto w-[80%] p-4 rounded-xl flex flex-col gap-4 shadow-md md:w-[50%] md:right-[320px] absolute  md:p-10;

            .task-desc {
                @apply bg-dullblack rounded-md p-2 flex flex-col gap-2 justify-center items-center md:grid md:p-4 md:place-items-center;

                & .emoji-cont {
                    @apply bg-commongrey w-15 h-[60px] flex items-center justify-center shadow-lg text-6xl rounded-md cursor-pointer md:text-8xl md:w-[30%] md:h-[100px];
                } 

                & .name-input {
                    @apply text-sm outline-none text-center md:text-2xl;
                }
            }

            .color-value {
                @apply bg-dullblack p-2 flex justify-between gap-6 rounded-lg md:p-4;

                & h2 {
                    @apply text-sm md:font-bold md:text-lg;
                }
                
                & .pick-color {
                    @apply rounded-xl cursor-pointer outline-none; 
                }
            }

            .goal-value {
                @apply bg-dullblack p-2 flex flex-col gap-4 rounded-lg md:p-4;
                
                & h2 {
                    @apply text-sm md:font-bold md:text-lg; 
                }

                & ul {
                    @apply flex justify-between items-center md:gap-10;

                    & li {
                        @apply border border-2 text-sm border-commongrey bg-commongrey transition p-[2px] ease-in-out duration-300 shadow-md rounded-md cursor-pointer hover:border-bluelight md:p-2 md:text-base;
                    }
                }
            }

            .when-to-when {
                @apply bg-dullblack p-2 flex justify-between items-center rounded-lg md:p-4;

                & input {
                    @apply bg-black p-2 rounded w-[35px] text-sm md:text-base md:w-[180px];
                }
            }

            & .reminder-selection {
                @apply bg-dullblack p-2 flex justify-between items-center rounded-lg md:p-4;
                
                & h2 {
                    @apply text-sm md:font-bold md:text-lg; 
                }

                & .the-time {
                    @apply flex gap-2;
                
                    & select {
                        @apply appearance-none no-scrollbar bg-black p-[2px] text-sm text-center outline-none md:p-2 md:text-base;
                    }
                }
            }

            & .reminder {
                @apply bg-dullblack p-2 flex justify-between rounded-lg md:p-4;
                
                & h2 {
                    @apply text-sm flex md:text-lg md:font-bold; 
                }

                & .switch-cont {
                    @apply bg-black w-[25%] rounded-lg p-1 shadow-inset-dark cursor-pointer md:w-[15%];
                }

                & .switch-ball {
                    @apply h-[90%] w-[30%] rounded-full mt-[1px] mx-[1px] bg-white bg-gradient-to-b from-white to-gray-400 shadow md:mx-[2px] md:w-[25%] md:h-[80%] md:mt-[3px];  
                }
            }

            & .addTask {
                @apply mt-2 bg-gradient-to-b from-bluelight to-bluet p-2 rounded-lg text-sm shadow font-bold text-shadow-md cursor-pointer md:text-base;
            }

            & .delete-task {
                @apply mt-2 bg-gradient-to-b from-delLight to-delDark p-2 rounded-lg text-sm shadow font-bold text-shadow-md cursor-pointer md:text-base;
            }
        }
    }

    .task-display {
        @apply p-4 rounded-lg h-[clamp(400px,62vh,640px)] no-scrollbar overflow-y-auto mt-6 flex flex-col gap-4 md:snap-y md:snap-mandatory md:scroll-smooth scroll-pt-4 text-sm md:bg-commongrey md:mt-8 md:p-4 md:gap-6 md:text-base md:w-full md:h-[475px] md:overflow-y-auto;
        
        & .no-tasks {
            @apply text-center;
        }
    }

    .task-box {
        @apply p-2 h-[40px] cursor-pointer snap-start rounded-md shadow no-scrollbar flex items-center transition-all duration-2000 ease-in-out md:p-4 md:border-none md:h-[70px] md:w-full; 

        & .emoji-t-box {
            @apply h-[30px] w-[8%] bg-commongrey text-lg flex items-center justify-center rounded-lg md:w-[5%] md:h-full md:text-3xl;
        }

        & .name-t-box {
            @apply text-shadow-md ml-2 p-2 w-[90%] text-sm rounded-md text-neutral-300 md:font-bold md:text-base;
        }
        
        & .done {
            @apply w-4 h-4 accent-bluet mr-2 cursor-pointer disabled:opacity-40 disabled:cursor-not-allowed md:scale-125;
        }
    }

    .alert-container {
        @apply bg-black/1 absolute flex justify-center items-center top-0 z-60 w-[90%] h-full backdrop-blur-sm;
    
        & .alert-box {
            @apply border border-2 border-white bg-commongrey p-4 text-base text-center rounded-md md:fixed md:right-[200px] md:w-[40%];
        
            & .choice {
                @apply flex justify-between mt-4;

                & button {
                    @apply w-[70px] rounded shadow-lg p-2;
                }

                & .yes-yes {
                    @apply bg-gradient-to-b from-delLight to-delDark;
                }

                & .no-no {
                    @apply bg-gradient-to-b from-bluelight to-bluet;
                }
            }
        }
    }

    .hist-container {
        @apply bg-black/1 absolute flex justify-center items-center top-0 z-90 w-full h-full backdrop-blur-sm;
    
        & .alert-box {
            @apply border border-2 border-white bg-commongrey p-4 text-base text-center rounded-md md:w-[40%];
        
            & .choice {
                @apply flex justify-between mt-4;

                & button {
                    @apply w-[70px] rounded shadow-lg p-2;
                }

                & .yes-yes {
                    @apply bg-gradient-to-b from-delLight to-delDark;
                }

                & .no-no {
                    @apply bg-gradient-to-b from-bluelight to-bluet;
                }
            }
        }
    }


    .history-box {
        @apply border border-2 border-transparent cursor-pointer rounded-md shadow m-4 h-[60px] flex items-center duration-2000 ease-in-out;

        & .emoji-t-box {
            @apply h-[30px] w-[8%] bg-commongrey text-lg flex items-center justify-center ml-2 rounded-lg md:w-[5%] md:h-[80%] md:text-3xl;
        }

        & .name-t-box {
            @apply text-shadow-md ml-2 p-2 w-[90%] text-sm rounded-md  text-neutral-300 md:font-bold md:text-base;
        }
        
        & .bi-trash {
            @apply cursor-pointer text-lg active:scale-90;
        }
    }

    .full-stats-cont {
        @apply flex flex-col gap-8 items-center;

        & .stats-header {
            @apply w-full flex justify-between;

            & .task-selected {
                @apply cursor-pointer outline-none text-lg bg-commongrey p-2 rounded-lg;
            }
        }

        & .selected-scroll-cont {
            @apply bg-commongrey rounded-lg p-4 w-full sticky top-2 z-99;

            & ul {
                @apply flex gap-2;

                & .li-cont-box {
                    @apply border border-2 flex w-full overflow-hidden;
                
                    .li-cont {
                        @apply border border-2 overflow-hidden flex justify-center items-center w-40;
                    
                        li {
                            @apply border border-2 border-transparent bg-dullblack p-4 rounded-full cursor-pointer shadow-lg text-lg;
                        }
                    }
                }
            }
        }

        & .date-box-main {
            @apply w-[50%] h-[500px] bg-commongrey rounded-lg p-6 flex gap-2 justify-center font-bold;

            & .bi-chevron {
                @apply cursor-pointer;
            }

            & .date-box-cont {
                @apply rounded-lg bg-dullblack w-[90%] p-4;
                
                & p {
                    @apply mb-4 text-base font-bold;
                }

                & .date-box-sub {
                    @apply shadow-lg shadow-inset-dark bg-commongrey rounded flex gap-[20px] justify-center p-2;


                    & .date-weekdays-box {
                        @apply text-center h-[350px];                  

                        & .date-weekdays {
                            @apply border border-2 flex flex-col gap-[30px];
                        }

                        & li {
                            @apply bg-bluet p-2 rounded shadow cursor-pointer;
                        }
                    }
                }
            }
        }

        & .average-display {
            @apply w-full h-[100vh] flex flex-col items-center justify-center;

            .filler-front {
                @apply w-[50%] h-[50%] relative flex items-center justify-center p-5;

                & .average-loader {
                    @apply border border-20 border-transparent absolute h-full w-[60%] rounded-full
                }

                & .average-body {
                    @apply border border-20 border-commongrey relative rounded-full h-full w-[60%] shadow-xl;

                    & .rating {
                        @apply text-4xl font-bold absolute top-[120px] left-[75px]
                    }

                    & .rating-title {
                        @apply text-2xl absolute top-[180px] left-[69px] text-commongrey
                    }
                }
            }

            .the-four {
                @apply w-full h-[50%] flex flex-col gap-5;

                .top {
                    @apply h-[50%] flex gap-40 items-center justify-center;

                    & .sec-one {
                        @apply border border-2 h-full w-[30%] flex flex-col justify-center items-center gap-4 text-xl font-bold bg-dullblack rounded-full shadow-xl text-bluet hover:text-bluelight transition ease-in duration-300;
                    
                        i {
                            @apply text-4xl;
                        }

                        .calculator {
                            @apply text-shadow-md text-white;
                        }

                        .calculator-label {
                            @apply text-base text-grey
                        }
                    }

                    & .sec-two {
                        @apply border border-2 h-full w-[30%] flex flex-col justify-center items-center gap-4 text-xl font-bold bg-dullblack rounded-full shadow-xl text-yellow hover:text-bluelight transition ease-in duration-300;
                    
                        i {
                            @apply text-4xl;
                        }

                        .calculator {
                            @apply text-shadow-md text-white;
                        }

                        .calculator-label {
                            @apply text-base text-grey
                        }
                    }
                }

                .bottom {
                    @apply h-[50%] flex gap-40 items-center justify-center;

                    & .sec-one {
                        @apply border border-2 h-full w-[30%] flex flex-col justify-center items-center gap-4 text-xl font-bold bg-dullblack rounded-full shadow-xl text-green hover:text-bluelight transition ease-in duration-300;
                    
                        i {
                            @apply text-4xl;
                        }

                        .calculator {
                            @apply text-shadow-md text-white;
                        }

                        .calculator-label {
                            @apply text-base text-grey;
                        }
                    }

                    & .sec-two {
                        @apply border border-2 h-full w-[30%] flex flex-col justify-center items-center gap-4 text-xl font-bold bg-dullblack rounded-full shadow-xl text-selected hover:text-bluelight transition ease-in duration-300;
                    
                        i {
                            @apply text-4xl;
                        }

                        .calculator {
                            @apply text-shadow-md text-white;
                        }

                        .calculator-label {
                            @apply text-base text-grey;
                        }
                    }
                }            
            }
        } 
    }

    .history-cont {
        @apply flex flex-col gap-8 h-[100%];

        & .date-header {
            @apply flex mt-4 items-center justify-between;

            .setter {
                @apply flex gap-2;

                & .selecting {
                    @apply bg-commongrey p-2 rounded-lg w-[70px];
                }

                & button {
                    @apply p-2 border border-2 border-transparent w-15 rounded-lg font-bold hover:border-bluelight bg-dullblack active:scale-90 ease-in-out duration-300;
                }
            }

            .chosen {
                @apply text-lg font-bold cursor-pointer;
            }

        }

        & .tasks-per-day {
            @apply h-[40%] rounded-lg shadow-lg bg-commongrey no-scrollbar overflow-hidden;

            .no-tasks {
                @apply text-center mt-4;
            }
        }

        & .chosen-task-info {
            @apply h-[40%] rounded-lg shadow-lg bg-dullblack flex flex-col;
        
            .no-chosen {
                @apply text-center m-4
            }

            .top {
                @apply flex items-center justify-around m-4;

                .sec {
                    @apply border border-2 text-lg bg-commongrey shadow p-2 w-[40%] h-[110px] rounded-full flex flex-col items-center justify-center ease-in-out duration-300;
                    
                    & .bi-bi {
                        @apply text-2xl;
                    }

                    & .calculator-label {
                        @apply text-base text-grey;
                    }

                }
            }
        }
    }
}

@utility shadow-inset-dark {
  box-shadow: inset 0 4px 15px commongrey;
}

@utility text-shadow-md {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}


/* display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem; adjust if needed */